h1 {
    text-align: center;
}

div .story {
    text-align: center;
    padding-right:100px;
    padding-left: 100px;
}

#startContainer {
    display: flex;
    justify-content: center;
}



/* .resultPanel {
    margin: auto;
} */