h1 {
    text-align: center;
}

div .story {
    text-align: center;
    padding-right:100px;
    padding-left: 100px;
}

#startContainer {
    display: flex;
    justify-content: center;
}



.result {
    padding-left: 300px;
}

.choices {
    display: flex;
    justify-content: space-around;
    padding-left: 400px;
    padding-right: 400px;
}